CONVEX_DEPLOYMENT=

VITE_CONVEX_URL=http://127.0.0.1:3210
VITE_CONVEX_SITE_URL=http://127.0.0.1:3211
VITE_FEATURE_3D_PHOTO=false
VITE_FEATURE_SIGN_IN=false
VITE_GALLERY_IMAGE_LIMIT=10
VITE_FILE_SIZE_LIMIT_MB=30
